html, body {
    margin: 0;
    font-family: 'Catamaran', sans-serif;
    font-size: large;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    user-select: none;
    overscroll-behavior: none;
    height: 100%;
    overflow: hidden;
}
body {
    background-image: url('/resources/background/night_sky.png') !important;
    background-repeat: no-repeat !important;
    background-size: cover !important;
    margin-top: 0px !important;
    height: 100vh !important;
    background-position: center !important;
    -webkit-animation: blur 2s;  
    -moz-animation: blur 2s;
    animation: blur 2s;
    -webkit-animation-fill-mode: forwards;
    -moz-animation-fill-mode: forwards;  
    animation-fill-mode: forwards; 
    animation-delay: 6s;
    -webkit-animation-delay: 6s;
    -moz-animation-delay: 6s;
}

canvas {
    display: block;
    margin-bottom: 1rem;
}

.progress-holder {
    vertical-align: baseline !important; 
    display:-ms-flexbox !important;
    display:flex !important;
    height:1rem !important;
    overflow:hidden !important;
    font-size:.75rem !important;
    background-color:#282828 !important;
    border-radius:.25rem !important;
}

#story-header {
    background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url('/resources/background/great_wall.jpeg') no-repeat center;
    background-size: cover;
    margin: 5vh 5vw 5vh 5vw;
    height: 80vh;
}

.d-flex-one {
  flex-direction: row;
}




/* Animate durations & delay */

.animate__animated.animate__zoomOutUp, .animate__animated.animate__zoomInDown {
    --animate-duration: 2s;
}


#cover2 {
    height: 100vh;
    width: 100vw;
    margin: 0 !important;
    position: absolute;
    top: 0px;
    bottom: 0px;
    background-color: black;
    z-index: 10;
    -webkit-animation: opacity 2s;  
    -moz-animation: opacity 2s;
    animation: opacity 2s;
    -webkit-animation-fill-mode: forwards;
    -moz-animation-fill-mode: forwards;  
    animation-fill-mode: forwards; 
    animation-delay: 6s;
    -webkit-animation-delay: 6s;
    -moz-animation-delay: 6s;
    text-align: center;
}

#cover3 {
    color: white;
    z-index: 20;
    -webkit-animation: contraopacity 2s, blur 2s;  
    -moz-animation: contraopacity 2s, blur 2s;
    animation: contraopacity 2s, blur 2s;
    -webkit-animation-fill-mode: forwards;
    -moz-animation-fill-mode: forwards;  
    animation-fill-mode: forwards; 
}
#cover4 {
    -webkit-animation: contrablur 2s;  
    -moz-animation: contrablur 2s;
    animation: contrablur 2s;
    animation-delay: 4s;
    -webkit-animation-delay: 4s;
    -moz-animation-delay: 4s;
    -webkit-animation-fill-mode: forwards;
    -moz-animation-fill-mode: forwards;  
    animation-fill-mode: forwards; 
}

#mainContainer {
    position: absolute;
    height: 98vh;
    width: 98vw;
    margin-right: 1vw;
    margin-left: 1vw;
    margin-bottom: 1vh;
    top: 1vh;
}

#animation1 {
    -webkit-animation: infinite roX ease-in-out 0.8s;
    -moz-animation: infinite roX ease-in-out 0.8s;
    animation: infinite roX ease-in-out 0.8s;
    position: relative;
    left: calc(50% - 100px);
}

#animation2 {
    -webkit-animation: infinite rTol ease 3s;  
    -moz-animation: infinite rTol ease 3s;
    animation: infinite rTol ease 3s;
}

#animation3 {
    -webkit-animation: infinite shine ease 0.8s;  
    -moz-animation: infinite shine ease 0.8s;
    animation: infinite shine ease 0.8s;
    position: relative;
    left: calc(50% - 100px);
}

#animation4 {
    -webkit-animation: infinite shine ease 0.8s;  
    -moz-animation: infinite shine ease 0.8s;
    animation: infinite shine ease 0.8s;
    position: relative;
    left: calc(50% - 100px);
}

#animation5 {
    -webkit-animation: infinite updown ease 1s;  
    -moz-animation: infinite updown ease 1s;
    animation: infinite updown ease 1s;
    position: relative;
    left: calc(50% - 100px);
}



/* ---- particles.js container ---- */
  #particles-js {
    position: absolute;
    width: 100%;
    height: 100%;
    background-image: url("");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 50%;
}

@media (min-height: 500px) and (max-width: 500px) {
    #header-content {
        margin-top: 0rem;
        margin-bottom: 0rem;
        padding: 1rem !important;
    }
    #header-content h1 {
        padding: 0rem;
    }
    #story-header {
        margin-top: 12vh;
    }
    #story-header {
      margin-top: 16vh;
    }
    .d-flex-one {
      flex-direction: column;
      margin-left: auto;
    }
    .d-flex-one > ul {
      width: 90% !important;
    }
}

@media (min-height: 500px) and (min-width: 500px) {
    #header-content {
        margin-top: 3rem;
        margin-bottom: 3rem;
    }
    #header-content h1 {
        padding: 2rem;
    }
    #story-header {
        margin-top: 10vh;
    }
}

@media (min-height: 800px) and (max-width: 500px) {
    #header-content {
        margin-top: 5rem;
        margin-bottom: 5rem;
    }
    #header-content h1 {
        padding: 2rem;
    }
    #story-header {
        margin-top: 10vh;
    }
    .d-flex-one {
      flex-direction: column;
      margin-left: auto;
    }
    .d-flex-one > ul {
      width: 90% !important;
    }
}

@media (min-height: 800px) and (min-width: 500px) {
    #header-content {
        margin-top: 5rem;
        margin-bottom: 5rem;
    }
    #header-content h1 {
        padding: 2rem;
    }
}

@media (max-width: 600px) {
    .controls-arrow {
        display: none;
    }
    .d-flex-one {
      flex-direction: column;
      margin-left: auto;
    }
    .d-flex-one > ul {
      width: 90% !important;
    }
}

@-webkit-keyframes blur {
    0% { 
          -webkit-filter: blur(10px);
          backdrop-filter: blur(10px);
      }
    100% { 
          -webkit-filter: blur(0px); 
          backdrop-filter: blur(0px);
      }
  }
  
  @-moz-keyframes blur {
    0% { 
          -moz-filter: blur(10px);
          backdrop-filter: blur(10px);
      }
    100% { 
          -moz-filter: blur(0px); 
          backdrop-filter: blur(0px);
      }
  }
  
  @keyframes blur {
    0% { 
          filter: blur(10px);
          backdrop-filter: blur(10px);
      }
    100% { 
          filter: blur(0px); 
          backdrop-filter: blur(0px);
      }
}

@-webkit-keyframes opacity {
    0% { 
          opacity: 1;
      }
    100% { 
          opacity: 0;
      }
  }
  
  @-moz-keyframes opacity {
    0% { 
          opacity: 1;
      }
    100% { 
          opacity: 0;
      }
  }
  
  @keyframes opacity {
    0% { 
          opacity: 1;
      }
    100% { 
          opacity: 0;
      }
}
@-webkit-keyframes contrablur {
    0% { 
          -webkit-filter: blur(0px);
          backdrop-filter: blur(0px);
          opacity: 1;
      }
    100% { 
          -webkit-filter: blur(10px); 
          backdrop-filter: blur(10px);
          opacity: 0;
      }
  }
  
  @-moz-keyframes contrablur {
    0% { 
          -moz-filter: blur(0px);
          backdrop-filter: blur(0px);
          opacity: 1;
      }
    100% { 
          -moz-filter: blur(10px); 
          backdrop-filter: blur(10px);
          opacity: 0;
      }
  }
  
  @keyframes contrablur {
    0% { 
          filter: blur(0px);
          backdrop-filter: blur(0px);
          opacity: 1;
      }
    100% { 
          filter: blur(10px); 
          backdrop-filter: blur(10px);
          opacity: 0;
      }
}
@-webkit-keyframes contraopacity {
    0% { 
          opacity: 0;
      }
    100% { 
          opacity: 1;
      }
  }
  
  @-moz-keyframes contraopacity {
    0% { 
          opacity: 0;
      }
    100% { 
          opacity: 1;
      }
  }
  
  @keyframes contraopacity {
    0% { 
          opacity: 0;
      }
    100% { 
          opacity: 1;
      }
}

@-webkit-keyframes rTol {
    0%, 100% { 
        margin-left: 50%;
      }
    75% { 
        margin-left: 0%;
      }
  }
  
  @-moz-keyframes rTol {
    0%, 100% { 
        margin-left: 50%;
      }
    75% { 
        margin-left: 0%;
      }
  }
  
  @keyframes rTol {
    0%, 100% { 
        margin-left: 50%;
      }
    75% { 
        margin-left: 0%;
      }
}

@-webkit-keyframes roX {
    0%, 100% {
        transform: rotateX(30deg);
      }
      80% {
        transform: rotateX(0deg);
      }
  }
  
  @-moz-keyframes roX {
    0%, 100% {
        transform: rotateX(30deg);
      }
      80% {
        transform: rotateX(0deg);
      }
  }
  
  @keyframes roX {
    0%, 100% {
        transform: rotateX(30deg);
      }
      80% {
        transform: rotateX(0deg);
      }
}

@-webkit-keyframes shine {
    0%, 100% {
        transform: scale(0.9);
      }
      80% {
        transform: rotateX(0deg);
      }
  }
  
  @-moz-keyframes shine {
    0%, 100% {
        transform: rotateX(30deg);
      }
      80% {
        transform: rotateX(0deg);
      }
  }
  
  @keyframes shine {
    0%, 100% {
        transform: scale(0.9);
      }
      80% {
        transform: scale(1);
      }
}

@-webkit-keyframes updown {
    0%, 100% {
        margin-top: 10%;
        margin-bottom: 0%;
      }
      80% {
        margin-top: 0%;
        margin-bottom: 10%;
      }
  }
  
  @-moz-keyframes updown {
    0%, 100% {
        margin-top: 10%;
        margin-bottom: 0%;
      }
      80% {
        margin-top: 0%;
        margin-bottom: 10%;
      }
  }
  
  @keyframes updown {
    0%, 100% {
        margin-top: 10%;
        margin-bottom: 0%;
      }
      80% {
        margin-top: 0%;
        margin-bottom: 10%;
      }
}